/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  margin-top: 0;
  padding: 0.5em 0 0.5em;
  text-align: center;
  background-color: hsl(240, 100%, 20%);
  color: white;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div.category.main-content {
    width: 90%;
    margin: auto;
}
div.category div.item-thumbnail {
    width: 33%;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 15px;
}
div.category div.item-thumbnail p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap; 
}

.clearfix:before, .clearfix:after {
display: table;
content: "";
line-height: 0;
}
img#logo {
    height: 100px;
}
.header h1 {
    margin: 0;
}
div.header {
    text-align: center;
    background-color: hsl(240, 100%, 98%);
}

div.video.main-content iframe {
    float: left;
    margin-right: 100px;
}

div.video.main-content p:first-of-type {
    display: none;
}

div.video.main-content {
    width: 80%;
    margin: auto;
}
div.category.main-content h1 {
    text-align: center;
    margin-top: 0;
}
div.category div.item-thumbnail:hover {
    background-color: hsl(240, 20%, 96%);
}

ul.menu a {
    color: white;
}

a {
    color: hsl(240, 100%, 20%);
    text-decoration: none;
}

div.footer {
    background-color: hsl(240, 100%, 10%);
    color: white;
    text-align: center;
    padding-top: 25px;
    margin-top: 50px;
}
div.footer li {
    list-style-type: none;
}
.footer a {
    color: white;
}
div.footer ul {
}
div.footer ul {
    margin: 0;
    padding-left: 10px;
}
.footer p {
    margin-bottom: 10px;
    font-weight: bold;
}
div.banner {
    position: relative;
    width: 984px;
    margin: auto;
}
.banner h1 {
    font-size: 72px;
    margin: 0;
}
.banner p {
    right: 10px;
    text-align: right;
}

.banner .copy {
    background-color: rgba(255, 255, 255, 0.68);
    width: 560px;
    position: absolute;
    top: 116px;
    left: 410px;
}
div.carousel {
    width: 984px;
    margin: auto;
}
div.carousel-item {
    width: 33%;
    float: left;
}