<div class="carousel clearfix">
  <h3>{{carouselTitle}}</h3>
  <div class="carousel-item" ng-repeat="item in items">
    <a href="#/egitim/{{item.id}}"><img src="{{item.picture}}"></a>
    <h3><a href="#/egitim/{{item.id}}">{{item.title}}</a></h3>
  </div>
</div>