<div class="item-thumbnail">
  <a href="#/egitim/{{item.id}}"><img src="{{item.picture}}"></a>
  <h3><a href="#/egitim/{{item.id}}">{{item.title}}</a></h3>
  <div class="item-info-line"><a href="#/kategori/{{item.category}}">{{item.category}}</a> | {{item.duration}}</div>
  <p>{{item.description}}</p>
</div>