<div class="banner">
  <img src="http://lorempixel.com/984/392/cats/">
  <div class="copy">
    <h1>OBSS AKADEMI</h1>
    <p>Dreamcatcher fixie flannel wayfarers. Pickled selvage sustainable retro, bitters banjo synth Portland gastropub. Kale chips twee kitsch tofu. Meh fashion axe kogi organic distillery Schlitz mustache. Hella gentrify Pitchfork dreamcatcher wayfarers, cray disrupt McSweeney's Cosby sweater crucifix banh mi umami wolf fixie. PBR&B jean shorts kale chips Schlitz trust fund typewriter. Next level kitsch readymade, gentrify pour-over Pitchfork Etsy chia slow-carb try-hard.</p>
  </div>
</div>

<div ng-repeat="carousel in carousels">
  <carousel items="carousel.items" carousel-title="carousel.title" /> 
</div>