<div class="video main-content clearfix">
  <iframe src="//player.vimeo.com/video/10116095" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/10116095">Trololo</a> from <a href="http://vimeo.com/iscanderro">Iscander Aiguinine</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  <h2>{{item.title}}</h2>
  <a href="#/kategori/{{item.category}}"><h3>{{item.category}}</h3></a>
  <p>{{item.description}}</p>
</div>  